{%extends 'base.html'%}


{% block head %}

{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <table class="table" class="list" id="table">
            <thead>
                <tr>
                    <th scope="col">Student</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Lecture number</th>
                    <th scope="col">Date</th>
                </tr>
          </thead>
          <tbody>
            <tr>
              {% for attend in attendances %}
              
                <tr>
                    <td>{{ attend.student_name }}</td>
                    <td>{{ attend.subject_name }}</td>
                    <td>{{ attend.lecture_number }}</td>
                    <td>{{ attend.date }}</td>
                </tr>
              {% endfor %}
             
          </tbody>  
    </table>

    <button type="button" class="btn btn-primary m-auto" data-toggle="modal" data-target="#exampleModal">Add Student</button>
        
    </div>
</div> 
{% endblock %}