{%extends 'base.html'%}


{% block head %}
{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <table class="table" class="list" id="table">
            <thead>
                <tr>
                    <th scope="col">Student</th>
                    <th scope="col">Year</th>
                    <th scope="col">Term</th>
                </tr>
          </thead>
          <tbody>
              {% for student in students %}
                <tr>
                    <td>{{ student.name }}</td>
                    <td>{{ student.year }}</td>
                    <td>{{ student.term }}</td>
                </tr>
              {% endfor %}
          </tbody>  
    </table>

    <button type="button" class="btn btn-primary m-auto" data-toggle="modal" data-target="#exampleModal">Add Student</button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
              <div class="modal-body">
                  
                  <form class="form-group" autocomplete="off" onsubmit=" event.preventDefault(); onFormSubmit();" >
                    <div>
                        <label>Name</label>
                        <input type="text" name="name" id="name" class="form-control" required="">
                    </div>
                    <div>
                        <label>Roll Number</label>
                        <input type="text" name="rollNum" id="rollNum" class="form-control" required="">
                    </div>
                    <div class="form-action-button">
                        <input type="submit" value="Submit" class="btn btn-primary mt-2">
                    </div>
                </form>
            </div>
        </div>
    </div>
        </div>  
        
    </div>
</div> 
{% endblock %}