{%extends 'base.html'%}

{% block head %}

{% endblock %}


{% block body %}
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Registration Form</h2>
                <form method="POST" action="/reg">
                    <div class="row row-space">
                        
                            <div class="input-group">
                                <label class="label">first name</label>
                                <input class="input--style-4" type="text" name="first_name" id="first_name">
                            </div>
                        
                        
                            <div class="input-group">
                                <label class="label">last name</label>
                                <input class="input--style-4" type="text" name="last_name" id="last_name">
                            </div>
                       
                    </div>
                    <div class="row row-space">
                        
                            <div class="input-group">
                                <label class="label">Password</label>
                               
                                    <input class="input--style-4 " type="password" name="password" id="password">
                                
                            </div>
                       
                        
                            <div class="input-group">
                                <label class="label">Gender</label>
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">Male
                                        <input type="radio" checked="checked" name="gender" id="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">Female
                                        <input type="radio" name="gender" id="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        
                    </div>
                    
                        
                            <div class="input-group">
                                <label class="label">Email</label>
                                <input class="input--style-4" type="email" name="email"id="email">
                            </div>
                        
                        
                            <div class="input-group">
                                <label class="label">Phone Number</label>
                                <input class="input--style-4" type="text" name="phone"id="phone">
                            </div>
                        
                    
                    <div class="p-t-15">
                        <input class="btn btn--radius-2 btn--blue" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}