{%extends 'base.html'%}

{% block head %}

{% endblock %}


{% block body %}
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Student Registration</h2>
                <form method="POST" action="/studentRegisteration" enctype='multipart/form-data'>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Name</label>
                                <input class="input--style-4" type="text" name="name" id="name">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Year</label>
                                <input class="input--style-4" type="number" name="year" id="year">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Gender</label>
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">Male
                                        <input type="radio" checked="checked" name="gender" id="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">Female
                                        <input type="radio" name="gender" id="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Term</label>
                                <input class="input--style-4" type="number" name="term" id="term">
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                          <div class="custom-file">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                <input type="file" class="custom-file-input inpFile" name="file" id="file">
                          </div>
                    </div>
                    <div class="p-t-15">
                        <input class="btn btn--radius-2 btn--blue" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}