{%extends 'base.html'%}

{% block head %}

{% endblock %}


{% block body %}
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <form method="POST">
                    <div class="input-group">
                        <label class="label text-center"><h4>year</h4></label>
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="subject">
                                <option disabled="disabled" selected="selected">Choose year</option>
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                     <div class="input-group">
                        <label class="label text-center"><h4>term</h4></label>
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="subject">
                                <option disabled="disabled" selected="selected">Choose term</option>
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                    <div class="input-group">
                        <label class="label text-center"><h4>subject</h4></label>
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="subject">
                                <option disabled="disabled" selected="selected">Choose subject</option>
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>
                   

                    
                    <div class="p-t-15 text-center">
                        <button class="btn btn--radius-2 btn--blue" type="submit"><center>Submit</center></button>
                    </div>
                   
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}