{%extends 'base.html'%}

{% block head %}
 <head>
   <style>
    .container {
    width: 100%;
    margin: 15% 23%;
       }
      body{
        
          background: #9053c7;
          background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
          background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
          background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
          background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);}
   </style>
 </head>
{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="card" style="width: 50rem;">
          <form class="card-body" method="post" action="/upLoadImage" enctype='multipart/form-data'>
            <h5 class="card-title">Upload Image</h5>
            <!-- Upload Image -->
            <div class="input-group mb-3">
              <div class="custom-file">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                <input type="file" class="custom-file-input inpFile" name="file" id="file">
              </div>
              </div>
              <div class="from-group">
                <label for="inputState"><h4>subject</h4></label>
               
                    <select  name="subject" id="subject" class="form-control">
                        <option disabled="disabled" selected="selected">Choose subject</option>
                        
                        {% for subject in subjects %}
                        
                            <option value="{{ subject.id }}">{{ subject.name }}</option>
                        {% endfor %}
                    </select>
              
              
              </div>
             <div class="input-group">
                  <label class="label text-center"><h4>Lecture Number</h4></label>
                  <input type="number" name="lecNum" id="lecNum" >
             </div>

            
            <div class="form-action-button">
              <input type="submit" value="Submit" name="u" class="btn btn-primary mt-2">
            </div>
        </form> 
    </div> 
 </div> 
</div>
{% endblock %}
