{%extends 'base.html'%}

{% block head %}

{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="card" style="width: 50rem;">
          <form class="card-body" method="post" action="/upLoadImage" enctype='multipart/form-data'>
            <h5 class="card-title">Upload Image</h5>
            <!-- Upload Image -->
            <div class="input-group mb-3">
              <div class="custom-file">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                <input type="file" class="custom-file-input inpFile" name="file" id="file">
              </div>
              </div>
              <div class="input-group">
                <label class="label text-center"><h4>subject</h4></label>
                <div class="rs-select2 js-select-simple select--no-search">
                    <select name="subject" id="subject">
                        <option disabled="disabled" selected="selected">Choose subject</option>
                        
                        {% for subject in subjects %}
                            <option value="{{ subject.id }}">{{ subject.name }}</option>
                        {% endfor %}
                    </select>
                </div>
              
              </div>
             <div class="input-group">
                  <label class="label text-center"><h4>Lecture Number</h4></label>
                  <input type="number" name="lecNum" id="lecNum" >
             </div>

            
            <div class="form-action-button">
              <input type="submit" value="Submit" name="u" class="btn btn-primary mt-2">
            </div>
        </form> 
    </div> 
 </div> 
</div>
{% endblock %}
