{%extends 'base.html'%}

{% block head %}

{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h5 class="card-title">Upload Image</h5>
            <!-- Upload Image -->
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input inpFile" id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="button" class="custom-file-input inpFile" id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01">start video</label>
              </div>
            </div>
            <div class="form-action-button">
              <input type="submit" value="Submit" class="btn btn-primary mt-2">
          </div>

            <div class="image-preview" id="image-preview">
              <img class="img-fluid" id="image">
            </div>
          </div>
        </div> 
    </div> 
 </div>  
{% endblock %}
